html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1A2732;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

/* Estilização da Página Home do Site */
.homepage {
  margin: 0 auto;

  max-width: 1366px;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 0.7fr;
  grid-template-areas: "h" "m" "f";
}

/* Estilização da Página Sobre do Site */
.sobre {
  margin: 0 auto;

  max-width: 1366px;
  width: 100vw;
  height: 100vh;
}