html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1A2732;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

/* Estilização da Página Home do Site */
.homepage {
  margin: 0 auto;

  max-width: 1366px;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 0.7fr;
  grid-template-areas: "h" "m" "f";
}

/* Estilização da Página Sobre do Site */
.sobre {
  margin: 0 auto;

  max-width: 1366px;
  width: 100vw;
  height: 100vh;
}

/* Estilização da Página Contato do Site */
.contato {
  margin: 0 auto;

  max-width: 1366px;
  width: 100vw;
  height: 100vh;
}

/* Estilização da Página Serviços do Site */
.servicos {
  margin: 0 auto;

  max-width: 1366px;
  width: 100vw;
  height: 100vh;
}

/* Estilização da Página Projetos do Site */
.projetos {
  margin: 0 auto;

  max-width: 1366px;
  width: 100vw;
  height: 100vh;
}

/* Estilização das Setas do Slide de Projetos */
.slick-prev {
  left: -35px !important;
}

.slick-next {
    right: -35px !important;
}

/* Estilização dos Dots do Slide de Projetos */
.dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: -2px 2px;
    padding: 0;

    cursor: pointer;
}
.dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.dots li button:hover,
.dots li button:focus
{
    outline: none;
}
.dots li button:hover:before,
.dots li button:focus:before
{
    opacity: 1;
}
.dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.dots li.slick-active button:before
{
    opacity: .75;
    color: #EB5757;
}