
.voltar {
    width: auto;
    height: auto;
    margin-left: 10px;
    color: #56CCF2;
    display: flex;
    font-size: 1.3rem;
    font-family: 'IBM Plex Sans', sans-serif;
}

.voltar:hover {
    cursor: pointer;
}